<h3>Node Details</h3>
<button id="btn-check-node" class="btn btn-info">update data</button>
<h4>Node Status</h4>
<p id="p-info">###NODE_STATUS###</p>

<h4>Node Extensions</h4>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Installed</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="table-items">
        ###NODE_EXTENSIONS###
    </tbody>
</table>

<h4>Node Items</h4>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Label</th>
            <th>Category</th>
            <th>Type</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody id="table-items">
        ###NODE_ITEMS###
    </tbody>
</table>