<h2>###TITLE_NAME###</h2>
<a class="btn btn-info" href="###BASE_URL###?controller=nodes">Back to list</a>
<div class="line">
    <div class="decorator"></div>
    <hr>
</div>
<!--ERRORS-->
<!--SUCCESS-->
<form class="form-add" action="" method="POST">
    <div class="form-group">
        <label for="reqUrl">IP Address</label>
        <input type="text" class="form-control" name="ip" placeholder="IP Address" value="###IP###">
    </div>
    <div class="form-group">
        <label for="reqUrl">Description</label>
        <input type="text" class="form-control" name="description" placeholder="Description" value="###DESCRIPTION###">
    </div>
    <div class="form-group">
        <label for="reqUrl">Credentials</label>
        <input type="text" class="form-control" name="credentials" placeholder="Credentials" value="###CREDENTIALS###">
    </div>

    <button type="submit" class="btn btn-primary">###SUBMIT_NAME###</button>
</form>
<!--SECTION_ROLES-->