<h2>Nodes List</h2>
<a class="btn btn-success" href="###BASE_URL###?controller=nodes&action=add">Add Node</a>
<div class="line">
    <div class="decorator"></div>
    <hr />
</div>
<!--ERRORS-->
<!--SUCCESS-->
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>IP Address</th>
            <th>Description</th>
            <th>Credentials</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <!--INNERTABLE-->
    </tbody>
</table>