<h2>###TITLE_NAME###</h2>
<a class="btn btn-info" href="###BASE_URL###?controller=permissions">Back to list</a>
<div class="line">
    <div class="decorator"></div>
    <hr>
</div>
<!--ERRORS-->
<!--SUCCESS-->
<form class="form-add" action="" method="POST">
    <div class="form-group">
        <label for="reqUrl">Requested Url</label>
        <input type="text" class="form-control" name="reqUrl" placeholder="Requested Url" value="###REQURL###">
    </div>

    <button type="submit" class="btn btn-primary">###SUBMIT_NAME###</button>
</form>
<!--SECTION_ROLES-->