<h2>###TITLE_NAME###</h2>
<a class="btn btn-info" href="/usermgmt/app?controller=users">Back to list</a>
<div class="line">
	<div class="decorator"></div>
	<hr>
</div>
<!--ERRORS-->
<!--SUCCESS-->
<form class="form-add" action="" method="POST">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" name="username" placeholder="Username" value="###USERNAME###">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="text" class="form-control" name="password" placeholder="Password" value="###PASSWORD###">
	</div>

	<button type="submit" class="btn btn-primary">###SUBMIT_NAME###</button>
</form>
<!--SECTION_ROLES-->