<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>openHAB</title>
<link type="text/css" href="bootstrap.min.css" rel="stylesheet"></link>
<link type="text/css" href="main.css" rel="stylesheet"></link>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link>
</head>

<body>
	<header>
		<div class="container">
			<img src="img/openhab-logo.png" />
		</div>
	</header>
	<section class="container">
		<h1>openHAB Node Management</h1>
		<a href="/" class="btn btn-info">Back to Dashboard</a>
		<div class="line">
			<div class="decorator"></div>
			<hr />
		</div>
		<div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="###TAB_NODES###">
					<a href="###BASE_URL###" aria-controls="nodes" role="tab" data-toggle="tab">Nodes</a>
				</li>
			</ul>
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane ###TAB_NODES###" id="nodes">
					<!--INNERCONTENT_NODES-->
				</div>
			</div>
		</div>
		<div class="line">
			<div class="decorator"></div>
			<hr />
		</div>
	</section>
	<footer>
		<p>
			<a href="http://kn.inf.uni-tuebingen.de" target="_blank">kn.inf.uni-tuebingen.de</a>
		</p>
	</footer>
</body>
</html>
